@font-face {
  font-family: "Outfit";
  src: url(./assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Young-serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-font: "Outfit", sans-serif;
  --font-sm: 1rem;
  --font-m: 1.25rem;
  --font-l: 1.75rem;
  --font-xl: 2.5rem;
  --main-color: rgba(95, 86, 77, 1);
  --red: rgba(133, 70, 50, 1);
  --pink: rgba(122, 40, 78, 1);
  --black: rgba(49, 46, 44, 1);
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-1600: 8rem;
  --spacing-3200: 41rem;
}

html {
  color: var(--main-color);
  font-family: var(--primary-font);
  font-size: var(--font-sm);
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
  line-height: 150%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: var(--spacing-1600) var(--spacing-600);
  background: rgba(243, 229, 215, 1);
  margin: 0;
}

.card {
  width: 100%;
  max-width: 46rem;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--spacing-500);
  padding: var(--spacing-500);

  border-radius: var(--spacing-300, 24px);
  background: rgba(255, 255, 255, 1);
}

img {
  max-width: 100%;
  height: auto;
  border-radius: var(--spacing-150);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
}

h1 {
  width: 100%;
  height: auto;

  color: var(--black);

  font-family: "Young-serif", serif;
  font-size: var(--font-xl);
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: left;
}

h2 {
  width: 100%;

  font-family: "Young-serif";
  color: var(--red);
  font-size: var(--font-l);
  line-height: 100%;
}

li::marker {
  color: var(--red);
}

#prep {
  width: 100%;
  height: auto;

  gap: var(--spacing-200, 16);
  padding: var(--spacing-300, 24px);

  padding: var(--spacing-300);
  border-radius: var(--spacing-150);
  background: rgba(255, 247, 251, 1);
}
#prep p {
  margin: 0 0 1rem 0;
  color: var(--pink);
  font-weight: 600;
  font-size: var(--font-m);
}

.line {
  width: 100%;
  height: 0;
  margin: 0;
  border: 1px solid rgba(227, 221, 215, 1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: var(--spacing-300);
}

table tr {
  border-bottom: 1px solid rgba(95, 86, 77, 0.2);
}

table td {
  padding: var(--spacing-200) 0;
  font-size: var(--font-sm);
  color: var(--main-color);
}

table tr:last-child {
  border-bottom: none;
}

.val {
  color: var(--red);
  font-weight: 700;
}
.attribution {
  font-size: 0.688rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 768px) {
  body {
    padding: 2rem 2rem;
  }

  .card {
    padding: 2rem;
  }

  nav {
    gap: 1rem;
  }
  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }

  nav {
    font-size: 0.9rem;
  }
}
